
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RetiroN</title>
</head>
<body>
    <div>
        <h1>
            Error, no es posible retirar su dinero. Ingrese una cantidad divisible entre 5
        </h1>
    </div>
</body>
</html>
